<div class="row center-align">

  <ul class="tabs">
        <li class="tab col s3" ng-repeat="stage in stages">
          <a class="truncate active" href="" ng-click="openStage('{{stage.name}}')">{{stage.name}}</a></li>
  </ul>

  <!-- loader -->
  <div ng-init="loading = true" ng-show="loading" class="preloader-wrapper small active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
  <!-- end-loader -->


  <div id="match{{match.id}}" class="card blue-grey darken-1" style="cursor: pointer" ng-click="openMatch('{{match.id}}')" ng-repeat="match in matches">
    <div class="card-content white-text">
      <span class="card-title"><img ng-src="{{match.homeLogo}}" height="20"> {{match.homeTeam}} - {{match.awayTeam}} <img ng-src="{{match.awayLogo}}" height="20"></span>
    <div id="bet{{match.id}}">{{getBetFromDb(match.id)}}</div>
    </div>
    <div class="card-action {{match.id}} white-text">
      {{countDowntimer(match.date, match.id, 'match'+ match.id)}}
    </div>
  </div>
</div>
