<h3>Have you forgotten your password?</h3>

<strong>No worries, just enter your e-mail here</strong>
<div class="row">
    <form>
        <div class="input-field col s12">
          <i class="mdi-communication-email prefix"></i>
          <input id="icon_prefix" type="text" class="validate" ng-model="useremail" ng-change="formChanged()">
          <label for="icon_prefix">Your email</label>
        </div>
        <div class="input-field col s12" ng-init="isDisabled = true">
          <button type="submit" class="waves-effect waves-light btn-large" ng-disabled="isDisabled" ng-click="sendReset()">Request password reset</button>
        </div>
    </form>
  </div>
