<div class="row">
    <div class="card" style="cursor: pointer" ng-click="openChampionship('VyBG4nr5k5')">
      <div class="card-image">
        <img width="30" src="http://upload.wikimedia.org/wikipedia/commons/c/c9/Copa_america_cte_cachamay.JPG">
        <span class="card-title">Copa América</span>
      </div>
      <div class="card-content">
        <p>Starting June 11th</p>
      </div>
      <div class="card-action">
        <a href="" ng-click="openChampionship('VyBG4nr5k5')">Open</a>
      </div>
    </div>
</div>
